@charset "UTF-8";
:root {
  --title-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --accent-text-color: #ffffff;
  --accent-backgraund: #f5f4fa;
  --hero-button-hover: #188ce8;
  --dark-background-collor: #2f303a;
  --background-color: #ffffff;
  --border-color: #eeeeee;
  --clients-icon-color: #afb1b8;
  --card-thumb-overflow-color: rgba(33, 150, 243, 0.8);
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --backdrop: rgba(0, 0, 0, 0.2);
  --duration: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --modal-fill-border: rgba(33, 33, 33, 0.2);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--background-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0px 8px;
}

.section {
  padding: 94px 0;
}

/* Акцентные кнопки */
.hero__button,
.form__submit,
.subscribe-button {
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.6px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  color: var(--accent-text-color);
  background-color: var(--accent-color);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--cubic);
          transition-timing-function: var(--cubic);
}

.hero__button:hover,
.hero__button:focus,
.form__submit:hover,
.form__submit:focus,
.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--hero-button-hover);
}

/* Логтип */
.logo {
  margin-right: 93px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--title-color);
}

.logo__color {
  color: var(--accent-color);
}

/* Навигация сайта*/
.header-section {
  height: 80px;
  border-bottom: 1px solid var(--border-color);
}

.header-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 8px 0px;
  text-decoration: none;
  color: var(--title-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--cubic);
          transition-timing-function: var(--cubic);
}

.link--current {
  position: relative;
  color: var(--accent-color);
}

.link--current::after {
  position: absolute;
  bottom: -24px;
  display: block;
  height: 4px;
  width: 100%;
  content: "";
  border-radius: 2px;
  background-color: var(--accent-color);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

/* Контакты */
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 16px;
  color: var(--main-text-color);
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--cubic);
          transition-timing-function: var(--cubic);
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

/* Секция герой */
.hero__section {
  padding: 200px 0;
  text-align: center;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg.jpg");
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg.jpg");
  background-size: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--dark-background-collor);
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: var(--accent-text-color);
}

.hero__button {
  display: block;
  padding: 10px 32px;
  margin: 0 auto;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--cubic);
          transition-timing-function: var(--cubic);
}

/* Наши преимущества */
.feature__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px;
  margin-bottom: 30px;
  border-radius: 4px;
  fill: var(--title-color);
  background-color: var(--accent-backgraund);
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
}

.feature:not(:last-child) {
  margin-right: 30px;
}

.features__title {
  margin-bottom: 10px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

/* Чем мы занимаемся */
.work {
  padding-top: 0px;
}

.work-areas {
  padding-top: 0px;
}

.work-areas__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-areas__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.area {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}

.area:not(:last-child) {
  margin-right: 30px;
}

.area__img {
  display: block;
  width: 100%;
  height: auto;
}

.area__thumb {
  position: relative;
  overflow: hidden;
}

.area__description {
  position: absolute;
  bottom: 0%;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  padding: 27px 0px;
  color: var(--accent-text-color);
}

/* Наша команда */
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-card__picture {
  display: block;
  width: 100%;
  height: auto;
}

.team__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.team-card {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-card:not(:last-child) {
  margin-right: 30px;
}

.team-card__description {
  text-align: center;
  padding: 30px 0;
  background-color: var(--background-color);
}

.team-section {
  background-color: var(--accent-backgraund);
}

.team-card__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-color);
}

.team-card__position {
  font-size: 16px;
  line-height: 1.19;
}

.team-card__links {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
}

.team-contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--clients-icon-color);
  -webkit-transition-property: background-color, fill;
  transition-property: background-color, fill;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--cubic);
          transition-timing-function: var(--cubic);
}

.team-contacts:not(:last-child) {
  margin-right: 10px;
}

.team-contacts__link:hover,
.team-contacts__link:focus {
  background-color: var(--accent-color);
  fill: var(--accent-text-color);
}

/* Наши клиенты */
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.company {
  width: calc((100% - 150px) / 6);
}

.company:not(:last-child) {
  margin-right: 30px;
}

.company__link {
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid var(--clients-icon-color);
  padding: 15px 32px;
  color: var(--clients-icon-color);
  fill: currentColor;
  background-color: var(--background-color);
  -webkit-transition-property: fill, border;
  transition-property: fill, border;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--cubic);
          transition-timing-function: var(--cubic);
}

.company__link:hover,
.company__link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

/* Кнопка фильтр */
.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filter__button {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  color: var(--title-color);
  background-color: var(--accent-backgraund);
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--cubic);
          transition-timing-function: var(--cubic);
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button:focus,
.filter__button:hover {
  color: var(--accent-text-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Примеры работ */
.work-exemples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-body {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.card-body:nth-child(3n) {
  margin-right: 0px;
}

.card-body:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.card {
  display: block;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--cubic);
          transition-timing-function: var(--cubic);
  text-decoration: none;
  color: inherit;
}

.card:hover,
.card:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card:hover .card-thumb__overflow,
.card:focus .card-thumb__overflow {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.card-thumb__img {
  display: block;
  width: 100%;
  height: auto;
}

.card-thumb__overflow {
  position: absolute;
  top: 100%;
  left: 0%;
  padding: 63px 24px;
  height: 100%;
  width: 100%;
  color: var(--accent-text-color);
  background-color: var(--card-thumb-overflow-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  -webkit-transition-property: -webkit-transform, -webkit-box-shadow;
  transition-property: -webkit-transform, -webkit-box-shadow;
  transition-property: transform, box-shadow;
  transition-property: transform, box-shadow, -webkit-transform, -webkit-box-shadow;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--cubic);
          transition-timing-function: var(--cubic);
}

.card-description__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--title-color);
}

.card-description__text {
  font-size: 16px;
  line-height: 1.87;
}

.card-description {
  text-align: start;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0px;
}

/* Футер */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contacts {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 70px;
}

.footer-section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--dark-background-collor);
}

.logo--footer {
  display: inline-block;
  margin-bottom: 20px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--accent-text-color);
}

.address-data {
  font-style: normal;
}

.address-data__list {
  text-decoration: none;
  color: var(--accent-text-color);
}

.address-data__address {
  margin-bottom: 9px;
}

.contact-item {
  text-decoration: none;
  color: var(--main-text-color);
}

.address-data__contacts:not(:last-child) {
  margin-bottom: 6px;
}

.address-data__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 16px;
  color: var(--main-text-color);
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--cubic);
          transition-timing-function: var(--cubic);
}

.address-data__link:hover, .contacts-link:focus {
  color: var(--accent-color);
}

.join-us {
  height: 80px;
  width: 206px;
  margin-right: 93px;
}

.join-us__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.join-us__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-text-color);
}

.join-us__item:not(:last-child) {
  margin-right: 10px;
}

.join-us__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  text-decoration: none;
  border-radius: 50%;
  color: var(--accent-text-color);
  background-color: rgba(255, 255, 255, 0.1);
  fill: currentColor;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--cubic);
          transition-timing-function: var(--cubic);
}

.join-us__link:hover,
.join-us__link:focus {
  background-color: var(--accent-color);
}

.subscribe__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-text-color);
}

.subscribe__field {
  margin-right: 12px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  color: var(--accent-text-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscribe-button__content {
  margin-right: 10px;
}

.subscribe-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe-button__icon {
  fill: currentColor;
}

.subscribe__field::-webkit-input-placeholder {
  color: var(--footer-text-color);
}

.subscribe__field:-ms-input-placeholder {
  color: var(--footer-text-color);
}

.subscribe__field::-ms-input-placeholder {
  color: var(--footer-text-color);
}

.subscribe__field::placeholder {
  color: var(--footer-text-color);
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop);
  opacity: 1;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--cubic);
          transition-timing-function: var(--cubic);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 528px;
  padding: 40px;
  border-radius: 4px;
  background-color: var(--background-color);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--cubic);
          transition-timing-function: var(--cubic);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.1);
          transform: translate(-50%, -50%) scale(0.1);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  cursor: pointer;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--cubic);
          transition-timing-function: var(--cubic);
}

.close-button__icon {
  fill: var(--title-color);
}

.close-button:focus .close-button__icon,
.close-button:hover .close-button__icon {
  fill: var(--accent-color);
}

.singup-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.inform {
  margin-bottom: 10px;
}

.inform:last-child {
  margin-bottom: 20px;
}

.input__field {
  height: 40px;
  padding-left: 35px;
  cursor: pointer;
}

.inform__lable {
  display: block;
  margin-bottom: 4px;
}

.input__field,
.inform__comment-field::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.input__field,
.inform__comment-field:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.input__field,
.inform__comment-field::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.input__field,
.inform__comment-field::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.input {
  position: relative;
  display: inline-block;
}

.input__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--title-color);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--cubic);
          transition-timing-function: var(--cubic);
}

.input__field,
.inform__comment-field {
  width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--cubic);
          transition-timing-function: var(--cubic);
}

.input__field:focus,
.inform__comment-field:focus {
  border-color: var(--accent-color);
  outline: none;
}

.input__field:focus + .input__icon {
  fill: var(--accent-color);
}

.text-area {
  margin-bottom: 20px;
}

.inform__comment-field {
  height: 120px;
  padding: 12px 16px;
  resize: none;
  overflow: hidden;
  cursor: pointer;
}

.inform__comment-field::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.inform__comment-field:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.inform__comment-field::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.inform__comment-field::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.hide-checkbox {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.hide-checkbox:focus + .agreement__checkbox {
  border: 3px solid var(--title-color);
}

.form__submit {
  display: block;
  margin: auto;
}

.agreement__checkbox {
  margin-right: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid var(--title-color);
  border-radius: 2px;
  -webkit-transition-property: fill, var(--background-color), border;
  transition-property: fill, var(--background-color), border;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--cubic);
          transition-timing-function: var(--cubic);
}

.hide-checkbox:checked + .agreement__checkbox {
  border: none;
  fill: var(--accent-text-color);
  background-color: var(--accent-color);
}
/*# sourceMappingURL=main.css.map */