.logo {
 
    margin-right: 93px;
    @include font-style ( 700,  26px, 1.2, inherit, $title-color);
    font-family: Raleway;
    // font-weight: 700;
    // font-size: 26px;
    // line-height: 1.2;
    // color: $title-color;
  }
  .logo__color {
    color: $accent-color;
  }
  .logo--footer {
    color: $accent-text-color;
    display: inline-block;
    margin-bottom: 20px;

 }
