.team__list {
    display: flex;
  }
  .team-card__picture {
    display: block;
    width: 100%;
    height: auto;
  }
  .team__title {
    @include font-style (inherit, 700,  36px, 1.16, 0.03em,  $title-color);
    margin-bottom: 50px;
    text-align: center;
    // font-weight: 700;
    // font-size: 36px;
    // line-height: 1.16;
    // letter-spacing: 0.03em;
    // color: $title-color;
  }
  